.Btn,
.Btn:visited,
.Btn:active {
  border: none;
  display: inline-block;
  background: #00843d;
  text-decoration: none;
  box-shadow: none;
  color: #fff;
  transition: background 0.5s;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
}
.Btn:hover,
.Btn:focus {
  background: #014e25;
  color: #fff;
}