@use 'sass:math';
$palettes: (
        primary: (
                0: #00843D,
                1: #F5FAF7,
                2: #DCF0DD,
                3: #73B474,
                4: #014E25,
        ),
        accent: (
                0: #F9C22B,
                1: #FDF2D2,
                2: #E4CC87,
                3: #E2AE3D,
        ),
        neutral: (
                0: #FFFFFF,
                1: #EEEEEE,
                2: #D1D1D1,
                3: #949494,
                4: #605F60,
                5: #2A2926,
        ),
);

// https://github.com/sass/sass/issues/469#issuecomment-197850243
// https://github.com/sass/sass/issues/469
// https://stackoverflow.com/questions/62978510/extract-h-s-l-values-from-color-using-sass
// @see https://codepen.io/ericrasch/pen/BooWMV 
//  @see https://codepen.io/rglyall/pen/dPoBzG
:root {
    @each $colorname, $palette in $palettes {
        @each $key, $value in $palette {
            $keyname: "--color-" + $colorname + $key;
            $_hue: round(hue($value));
            $_saturation: round(saturation($value));
            $_lightness: round(lightness($value));
            $_hue : str-slice('#{$_hue}', 1, str-index('#{$_hue}', 'deg') - 1);
            #{$keyname}: #{'hsl(' + $_hue + ' ' + $_saturation + ' ' + $_lightness + ')'};
            
        }
    }
}



