.section-container {
  padding: 8vh 4vw;
  min-height: 200px;
  background-color: #00843d !important;
}

.accordion-header button {
  background: #fff;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  &:hover {
    background: #f4f4f4;
  }
}
#accordion1 a {
  color: #00843d;
  text-decoration: underline;
}

.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item,
.accordion-button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.accordion-button:not(.collapsed) {
  color: #006830;
  background: #99ceb1;
  box-shadow: inset 0 -1px 0 #00000020;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  color: #00843d;
  text-align: left;
  background-color: #fff;
  border: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
  &[aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.collapse:not(.show) {
  display: none;
}
.accordion-body {
  padding: 1rem 1.25rem;
}

main a {
  color: #0d6efd;
  text-decoration: underline;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
// .accordion-button {
//   position: relative;
//   display: flex;
//   align-items: center;
//   width: 100%;
//   padding: 1rem 1.25rem;
//   font-size: 1rem;
//   color: #006830 !important;
//   text-align: left;
//   background-color: #fff;
//   border: 0;
//   border-radius: 0;
//   overflow-anchor: none;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
//     border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
//     border-radius 0.15s ease;
// }
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.accordion-header {
  margin-bottom: 0;
}
.accordion-item {
  margin-bottom: 5px;
  width: auto;
  border: none;
  background-color: #f7f7f7;
}

.accordion-item:first-of-type,
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.accordion-item:not(:first-of-type) {
  border-top: 0;
}
// .accordion-item:last-of-type {
//   border-bottom-right-radius: 0.25rem;
//   border-bottom-left-radius: 0.25rem;
// }
// .accordion-item:last-of-type .accordion-button.collapsed {
//   border-bottom-right-radius: calc(0.25rem - 1px);
//   border-bottom-left-radius: calc(0.25rem - 1px);
// }
// .accordion-item:last-of-type .accordion-collapse {
//   border-bottom-right-radius: 0.25rem;
//   border-bottom-left-radius: 0.25rem;
// }
