:root {
  --lt-green:   #DCF0DD;
  --green:      #00843D;
  --dk-green:   #014E25;
  --lt-gray:    #EEEEEE;
  --gray:       #D1D1D1;
  --dk-gray:    #605F60;
  --dk-gray2:   #949494;

  --lt-yellow:  #FDF2D2;
  --yellow:     #F9C22B;
  --dk-yellow:  #E2AE3D;
  --black:      #2A2926;
  --white:      #FFFFFF;
}


$color-green: var(--green);
$color-light-green: var(--lt-green);
$color-dark-green: var(--dk-green);

$color-gray: var(--gray);
$color-light-gray: var(--lt-gray);
$color-dark-gray: var(--dk-gray);
$color-dark-gray2: var(--dk-gray2);

$color-yellow: var(--yellow);
$color-light-yellow: var(--lt-yellow);
$color-dark-yellow: var(--dk-yellow);

$color-black: var(--black);
$color-white: var(--white);
